@import "base";
@import "header";
@import "footer";
@import "restaurantcard";
@import "home";
@import "myorderspage";
@import "restaurantpage";
@import "checkoutpage";
@import "orderconfirmationpage";
@import "cartsidebar";
@import "platcard";
@import "restaurantcard";
@import "loginpage";
@import "registerpage";
@import "ordertracking";