@import "base";
@import "header";
@import "footer";
@import "client/restaurantcard";
@import "client/home";
@import "client/myorderspage";
@import "client/restaurantpage";
@import "client/checkoutpage";
@import "client/orderconfirmationpage";
@import "client/cartsidebar";
@import "client/platcard";
@import "client/restaurantcard";
@import "client/loginpage";
@import "client/registerpage";
@import "client/ordertracking";