@import "unik/base";
@import "unik/header";
@import "unik/footer";
@import "unik/profil";
@import "unik/toast";
@import "unik/image";

//________________________//

@import "client/restaurantcard";
@import "client/home";
@import "client/myorderspage";
@import "client/restaurantpage";
@import "client/checkoutpage";
@import "client/orderconfirmationpage";
@import "client/cartsidebar";
@import "client/platcard";
@import "client/restaurantcard";
@import "client/loginpage";
@import "client/registerpage";
@import "client/ordertracking";
@import "client/resto";
@import "client/close";

//________________________//

@import "restaurant/layout";
@import "restaurant/menu";
@import "restaurant/orders";
@import "restaurant/payment";
@import "restaurant/settings";
@import "restaurant/dashboard";
@import "restaurant/components";
@import "restaurant/livraison";
@import "restaurant/modals";

//________________________//

@import "admin/admin";